# Compiled object files
*.o
*.obj

# Static libraries
*.a
*.lib

# Shared libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Debug symbols
*.dSYM/
*.pdb

# Build folders
build/
bin/
out/
compile_commands.json
mklink

# Temporary files
*.tmp
.cache/
*.temp

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
